In [8]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import glob
import os

Upload all geo file , which can be downloaded form (put name of geographic website), upload all the file in github repo and then copy and paste the link below. Important note: please do not change the file name of excel

In [9]:
!git clone https://github.com/hanihaider1/why-my-city-smell-bad-/

fatal: destination path 'why-my-city-smell-bad-' already exists and is not an empty directory.

In [10]:
path = './why-my-city-smell-bad-/'
lst = os.listdir(path)

In [11]:
df= pd.DataFrame()
df_new= pd.DataFrame()

for i in lst:
  url = path+i
  if i[-4:]==".csv":
    if df.empty==True :
      df = pd.read_csv(url)
      df["Pod Name"] = i[:5]
    else:
      df_new= pd.read_csv(url)
      df_new["Pod Name"]= i[:5]
      df= df.append(df_new)

In [12]:
def add_dates_times_columns(df):
  # insert date only, time only, and DateTime Columns
  # adding a filler value x or y that will be replaced later
  df.insert(1, 'date_only', 'x')
  df.insert(2, 'time_only', 'y')
  
  # change name of Time column to datetime for clarity that it is a datetime
  df.rename(columns={'Time' : 'DateTime'}, inplace=True)
  #copy string of DateTime to time and date only columns
  df['date_only'] = df['DateTime']
  df['time_only'] = df['DateTime']

  # convert strings to appropriate data type - DateTime, date, and time
  df['DateTime'] = pd.to_datetime(df['DateTime'], format="%Y-%m-%d %H:%M:%S")
  df['date_only'] = pd.to_datetime(df['date_only']).dt.date
  df['time_only'] = pd.to_datetime(df['time_only']).dt.time

  # resetting index to make it look neat
  df.reset_index(drop=True, inplace=True)



  #added the cardinal point for direction on wind
#making a function to generalise it

def cardinal_direction(df): 
  condition_list = [(df['Wind Direction'] > 0) & (df['Wind Direction'] < 45), (df['Wind Direction'] == 45), (df['Wind Direction'] > 45) & (df['Wind Direction'] <= 90), (df['Wind Direction'] > 90) & (df['Wind Direction'] < 135), (df['Wind Direction'] == 135), (df['Wind Direction'] > 135) & (df['Wind Direction'] <= 180), (df['Wind Direction'] > 180) & (df['Wind Direction'] < 225), (df['Wind Direction'] == 225), (df['Wind Direction'] > 225) & (df['Wind Direction'] <= 270), (df['Wind Direction'] > 270) & (df['Wind Direction'] < 315), (df['Wind Direction'] == 315), (df['Wind Direction'] > 315) & (df['Wind Direction'] <= 360) ]
  choicelist = ['North','North-East', 'East', 'East', 'South-East', 'South', 'South', 'South-West', 'West', 'West', 'North-West', 'North']
  df['Cardinal Direction'] = np.select(condition_list, choicelist) #adding the cardinal direction column
  direction_values=df['Cardinal Direction'].values #to get the values either as array or a series
  df.drop(['Cardinal Direction'], axis=1, inplace=True) # we need to drop the column to relocate to the position we want
  df.insert(15,'Cardinal Direction',value=direction_values)
  return df # to return the dataframe when the function is called

In [13]:
cardinal_direction(df) #call the function
add_dates_times_columns(df)

In [14]:
# Here I sorted by Pod first then by time in terms of priority
df_sorted = df.sort_values(by=['Pod Name','DateTime'])
# reset index to make it look neat
df_sorted.reset_index(drop=True, inplace=True)

In [15]:
df_sorted

                 DateTime   date_only time_only  ...  lvl2  lvl3  Pod Name
0     2020-09-02 12:00:00  2020-09-02  12:00:00  ...   NaN   NaN     SMRO3
1     2020-09-02 13:00:00  2020-09-02  13:00:00  ...   NaN   NaN     SMRO3
2     2020-09-02 14:00:00  2020-09-02  14:00:00  ...   NaN   NaN     SMRO3
3     2020-09-02 15:00:00  2020-09-02  15:00:00  ...   NaN   NaN     SMRO3
4     2020-09-02 16:00:00  2020-09-02  16:00:00  ...   NaN   NaN     SMRO3
...                   ...         ...       ...  ...   ...   ...       ...
23522 2021-07-23 20:00:00  2021-07-23  20:00:00  ...   NaN   NaN     SMRO7
23523 2021-07-23 21:00:00  2021-07-23  21:00:00  ...   NaN   NaN     SMRO7
23524 2021-07-23 22:00:00  2021-07-23  22:00:00  ...   NaN   NaN     SMRO7
23525 2021-07-23 23:00:00  2021-07-23  23:00:00  ...   NaN   NaN     SMRO7
23526 2021-07-24 00:00:00  2021-07-24  00:00:00  ...   NaN   NaN     SMRO7

[23527 rows x 41 columns]

#i think we need to add long lat for the pods